Repository jamcatbiz/do-tf, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, workflows, action

chore(main): release 1.0.0
  CHANGELOG.md
Labels: docs

feat(action): adding multiple tf flavors for testing
  README.md
  action.yml
Labels: docs, action

feat(action): adding multiple tf flavors for testing
  README.md
  action.yml
Labels: docs, action

chore(main): release 1.1.0
  CHANGELOG.md
Labels: docs

feat(action): improving action logic for better usability
  action.yml
Labels: action

feat(workflows): release please config and changelog reset.
  .release-please-manifest.json
  CHANGELOG.md
  release-please-config.json
Labels: docs

chore(main): release 1.2.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

feat(workflows): release please config and changelog reset.
  .github/workflows/release.yml
  release-please-config.json
Labels: workflows

feat(workflows): release please config and changelog reset.
  .release-please-manifest.json
Labels: none

feat(workflows): release please config and changelog reset.
  .release-please-manifest.json
Labels: none

feat(workflows): release please config and changelog reset.
  .release-please-manifest.json
Labels: none

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

feat(workflows): release please config and changelog reset.
  CHANGELOG.md
Labels: docs

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

feat(workflows): release please config and changelog reset.
  .release-please-manifest.json
Labels: none

chore(main): release 0.1.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

feat(action): changing interface to consolidate
  action.yml
Labels: action

chore(main): release 0.2.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

feat(action): changing interface to be more user defined and less opinionated
  action.yml
  release-please-config.json
Labels: action

chore(main): release 0.3.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

feat(action): adding tf plan artifact name as output
  action.yml
Labels: action

feat(action): fixing hashicorp install, updating doc
  README.md
  action.yml
Labels: docs, action

fix(action): fixing some syntax issues
  action.yml
Labels: action

chore(main): release 0.4.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

fix(action): version typo
  action.yml
Labels: action

chore(main): release 0.4.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

fix(action): version typo
  action.yml
Labels: action

chore(main): release 0.4.2
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

fix: artifact names fixing and swapping to hash of plan
  action.yml
Labels: action

chore(main): release 0.4.3
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

fix: fixing tfplan path reference
  action.yml
Labels: action

chore(main): release 0.4.4
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

feat: using working-dir over cd, tfplan reference update
  action.yml
Labels: action

chore(main): release 0.5.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: docs

.github/labeler.yml:

docs:
- changed-files:
  - any-glob-to-any-file:
    - examples/**
    - "**/*.md"
workflows:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/**
action:
- changed-files:
  - any-glob-to-any-file:
    - action.yml
feature:
- head-branch: ["^feature", "feature"]
fix:
- head-branch: ["^fix", "fix"]
maintenance:
- head-branch: ["^maintenance", "maintenance"]
